{% extends "layout.html" %} 

{% block title %} Forget Password {% endblock %} 


{% block main %} 

<div class="forget-form">
    <form action="/forget_password" method="post">
        <div class="forget-title">Forget Password</div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Send Verification Code</button>
    </form>
</div>




{% endblock %}
